{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block navbar %} 
{% include 'components/navbar.html' %}
{% endblock navbar %}

{% block content %}


<div class="mt-6">
  <div class=" border px-6 py-18 shadow-md">
  <p>{% blocktrans %}Si todavia no has creado una cuenta, porfavor crea una
  <a href="{{ signup_url }}">sign up</a> primero.{% endblocktrans %}</p>
    <form class="login" method="POST" action="{% url 'account_login' %}">
      {% csrf_token %}
      {{ form.as_p }}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
      <button class="primaryAction" type="submit">{% trans "Sign In" %}</button>
    </form>
  </div>

</div>









{% endblock %}