{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block navbar %} 
{% include 'components/navbaradmin.html' %}
{% endblock navbar %}

{% block content %}

<h1 class="p-3 m-2">Agregar usuarios:</h1>

<form class="" id="signup_form" method="post" enctype="multipart/form-data" action="{% url 'account_signup' %}">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="form-group row">
        <label for="text" class="col-4 col-form-label">Username</label> 
        <div class="col-8">
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i class="fa fa-user"></i>
              </div>
            </div> 
            <input id="username" name="username" type="text" class="form-control">
          </div>
        </div>
      </div>
      
      <div class="form-group row">
        <label for="text1" class="col-4 col-form-label">Password</label> 
        <div class="col-8">
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i class="fa fa-key"></i>
              </div>
            </div> 
            <input id="password1" name="password1" type="password" class="form-control">
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="text1" class="col-4 col-form-label">Confirmar password</label> 
        <div class="col-8">
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i class="fa fa-key"></i>
              </div>
            </div> 
            <input id="password2" name="password2" type="password" class="form-control">
          </div>
        </div>
      </div>
      <div class="form-group row">
          <label for="text" class="col-4 col-form-label">Email</label> 
          <div class="col-8">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <i class="fa fa-user"></i>
                </div>
              </div> 
              <input id="email" name="email" type="email" class="form-control">
            </div>
          </div>
        </div>
      
      <div class="form-group row">
        <label for="select" class="col-4 col-form-label">Rol CS</label> 
        <div class="col-8">
          <select id="rol_cs" name="rol_cs" class="custom-select" required="required" aria-describedby="selectHelpBlock">
            <option value="R">Rifler</option>
            <option value="A">Awper</option>
            <option value="S">Support</option>
            <option value="EF">Entry-Fragger</option>
            <option value="F">Fragger</option>
          </select> 
          <span id="selectHelpBlock" class="form-text text-black"><br>Eliga el rol que usualmente usas cuando juegas Counter-Strike</span>
        </div>
      </div>
      
      <div class="form-group row">
        <label for="text3" class="col-4 col-form-label">Biografia</label> 
        <div class="col-8">
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i class="fa fa-sticky-note-o"></i>
              </div>
            </div> 
            <input id="bio" name="bio" placeholder="Ingrese su biografia aquí" type="text" class="form-control">
          </div>
        </div>
      </div> 
      
      <div class="form-group row">
        <label for="image" class="col-4 col-form-label">Imagen</label> 
        <div class="col-8">
          <input id="avatar" name="avatar" type="file" class="form-control-file">
        </div>
      </div>

   
    

    

    <div>
      <button class="mt-5 w-full border p-2 bg-gradient-to-r from-gray-800 bg-gray-500 text-white rounded-[4px] hover:bg-slate-400 scale-105 duration-300" type="submit">Crear un nuevo usuario</button>
    </div>
    
  </form>
  
{% endblock content %}