{% extends 'base.html' %}
{% load static %}
{% block navbar %} 
{% include 'components/navbar.html' %}
{% endblock navbar %}

{% block content %}
<br>
<article class="blog-post bg-gray-200 p-3 rounded">
    <div class="col-auto d-none d-lg-block">
        <img src={{ post.image.url }} class="img-fluid" alt="">
    </div>

    <strong class="d-inline-block mb-2 mt-3 text-primary"><a href={% url 'blog:category' post.category.id %}>{{ post.category }}</a></strong>
    <h2 class="blog-post-title mb-1">{{ post.title }}</h2>
    <p class="blog-post-meta">{{ post.created|date:"d M Y" }} por <a href={% url 'blog:autor' post.autor.id %}>{{ post.autor }}</a></p>

    <p class="lead my-3">{{ post.excerpt }}</p>
    <hr>
    <p>{{ post.content | safe }}</p>

    <hr>

    <strong>Etiquetas:</strong>
    {% for tag in post.tags.all %}
        <span class="badge text-bg-info">{{ tag.name|upper }}</span>
    {% endfor %}


<div class="my-3">
    <a class="btn btn-success rounded-pill" href={% url 'blog:blog' %}>Volver al Inicio</a>
    {% if request.user == post.autor %}
    <a class="btn btn-danger rounded-pill float-end" href={% url 'blog:delete' post.id %}>Eliminar</a>
    <a class="btn btn-info rounded-pill float-end" href={% url 'blog:update' post.id %}>Editar</a>
    {% endif %}
</div>
</article>

{% endblock %}