{% load static tailwind_tags %}
{% load compress %}
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block titulo %} <title>CSinfo</title>{% endblock titulo %}
    {% tailwind_css %}

    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/logo.png' %}">
    <link rel="stylesheet" type="css" href="{% static 'css/base.css' %}">

    <!--Alpine JS-->
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.8.2/dist/alpine.min.js" defer></script>
    <!--Boxicons-->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <!--Stripe-->
    <script src="https://js.stripe.com/v3/"></script>

    <link href="https://vjs.zencdn.net/7.11.4/video-js.css" rel="stylesheet" />
    <script src="https://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>
    
    <!--Flowbite-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.css" rel="stylesheet" />


</head>

    {% block navbar %} {% endblock navbar %}
    {% include 'messages.html' %}
    <body style="background: url('/static/images/back1.jpg'); background-repeat: repeat; background-size: auto;">
        <div class="container mx-auto mt-4">
            {% block content %}
            {% endblock content %}
        </div>



        <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>
     
        
    </body>
    


    {% block footer %} 
    
    {% endblock footer %}



    {% block javascript %} {% endblock javascript %}

</html>